@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cairo+Play:wght@200..1000&family=Charm:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Charm','Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(to right, #fed7ad, #fed7ad);
    --bg-color: #E8E8E8;
    --bg-color: #E8DCDC;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-color);
}

nav {
    width: 100vw;
    height: 10vh;
    position: sticky;
}


.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.logo span {
    font-family: 'Pacifico';
    color: #22303F;
    text-shadow: 0 0 1px #22303F;
}

.hamburg, .cancel {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 1.2rem;
    display: none;
}

.nav-container .links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: #22303F;
    text-decoration: none;
    font-weight: 700;
    transform: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #22303F;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #22303F;
    transition: 0.2s linear;
}

.nav-container .contact-btn a{
    color: #22303f;
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: #22303F;
    color: #fff;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: #22303F;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image{
    z-index: -1;
    width: 40%;
}

.main-container .image img{
    width: 100%;
}

.main-container .content{
    color: black;
    width: 45%;
    min-height: 100px;
}

.content h1{
    font-size: clamp(1rem, 2rem + 5vw, 2.2rem);
}

.content h1 span{
    text-shadow: 0 0 1px #22303F;
    color: #22303F;
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw, 1.7rem);
}

.content .typewriter span {
    position: relative;
}

.content .typewriter span::before {
    content: '';
    color: #FF7F50;
    animation: words 20s infinite;
}

.content .typewriter span::after {
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: var(--bg-color);
    border-left: 2px solid --bg-previous;
    right: -8px;
    animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #FF7F50;
    }
}


@keyframes words {
    0%,
    50% {
        content: "Programmer";
    }

    51%,
    100% {
        content: "Developer";
    }

}

@keyframes typing {

    25%,    
    37.5%,    
    75%,   
    87.5% {
        width: 0;
    }

    12.5%,   
    50%,    
    62.5% {
        width: calc(100% + 8px);
    }
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    text-size-adjust: initial;
    word-break: break-word;
    font-family: 'Poppins';
    margin: 10px 0;
    color: #22303F;
    text-align: initial;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color:transparent;
    border: 0.2rem solid #22303f;
    border-radius: 50%;
    color: #22303f;
    margin: 5px 10px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.15;
    color: white;
    background-color: #22303f;
    filter: drop-shadow(0 0 10px #22303F);
}

.social-links i:visited {
    scale: 1.18;
    color: white;
    background-color: #22303f;
    filter: drop-shadow(0 0 10px #22303F);
}

#github:hover {
    border: black;
    background-color: #433d3d;
    transition: 1s;
}

#github::after {
    border: black;
    background-color: #433d3d;
    transition: 1s;
}

#linkedin:hover {
    border: #1717d0;
    background-color: #0A66C2;
    transition: 1s;
}

#twitter:hover {
    border: black;
    background-color: #2b2b2b;
    transition: 1s;
}

#facebook:hover {
    border: #1717d0;
    background-color: #1877F2;
    transition: 1s;
}

#instagram:hover {
    border: black;
    background: radial-gradient(circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%);
    transition: 1s;
}

#youtube:hover {
    border: black;
    background-color: #FF0000;
    transition: 1s;
}

#whatsapp:hover {
    border: black;
    background-color: #25d366;
    transition: 1s;
}

#threads:hover {
    border: black;
    background-color: #262626;
    transition: 1s;
}

#telegram:hover {
    border: black;
    background-color: #0088CC;
    transition: 1s;
}

.content button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: #22303F;
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.5s linear;
}

.content button:hover{
 scale: 1.1;
 color: #22303F;
 border: 2px solid #22303F;
 background-color: transparent;
 font-weight: 800;
 box-shadow: 0 0 10px #22303F;
}



@media (max-width:884px) {
    body {
        overflow-y: visible;
    }

    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,.cancel {
        display: block;
    }

    .main-container .content {
        width: 90%;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
        margin: 5px 5px;
    }

    .cancel{
        color: white;
    }

    .main-container .image{
        width: 70%;
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .hamburg {
        display: block;
    }

    .dropdown {
        display: flex;
    }

    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .content h1 {
        font-size: 2rem;
    }

    .typewriter {
        font-size: 1.2rem;
    }

    .social-links {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .logo span {
        font-size: 1.2rem;
    }

    .content h1 {
        font-size: 1.8rem;
    }

    .typewriter {
        font-size: 1rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .social-links a {
        font-size: 1.2rem;
    }

    .btn button {
        font-size: 0.9rem;
    }
}
